.App {
  background-image: url(/Users/raymondalvin/Desktop/react/collegecompetent/public/berkeley1.jpeg);
  background-size: cover;
  background-position: center;
  height: 850px;
  margin-top:0px;


}

.heading {
  text-align: center;
 

}

.heading h1 {
  margin-top: 40px;
  font-size: 70px;
  font-family: "STIX Two Text", Sans-serif;

}

.head {
  text-align:center;
}

.head h1 {
  margin-top: 40px;
  font-size: 70px;
  font-family: "STIX Two Text", Sans-serif;

}



.head1 {
  text-align:left;
  margin-top: 40px;
}

.head1 h1 {
  margin-top: 40px;
  font-size: 70px;
  font-family: "STIX Two Text", Sans-serif;

}

.head1 p {
  text-align: left;
  font-size: 20px;
  font-family: "STIX Two Text", Sans-serif;
}

.head1 h2 {
  margin-top: 15px;
}



.head2 {
  text-align:left;
  margin-top: 40px;
}

.head2 h1 {
  margin-top: 40px;
  font-size: 70px;
  font-family: "STIX Two Text", Sans-serif;

}

.head2 p {
  text-align: left;
  font-size: 20px;
  font-family: "STIX Two Text", Sans-serif;
}

.head2 h2 {
  margin-top: 15px;
  text-align: center;


}


.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 30px;
  color: #f1356d;
  margin-bottom: 30px;
  margin-top: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}


/* .container {
  height: 300px;
} */